*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#fondo{
    padding-top: 9vh;
    background: rgb(60,201,204);
    background: linear-gradient(90deg, rgba(60,201,204,1) 0%, rgba(25,40,134,1) 100%);
    background-color: #cccccc;
    height: 100vh; /* You must set a specified height */
    padding-bottom: 4vh;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

#carta{
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    background-color: white;
    border-radius: 8vh;
    position: absolute;
}

h2{
    margin-top: 10vh;
    position: relative;
    text-align: center;
    font-size: 28vh;
    background: rgb(60,201,204);
    background: linear-gradient(90deg, rgba(60,201,204,1) 0%, rgba(25,40,134,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3{ 
    position: relative;
    text-align: center;
    font-size: 5vh;
}

p{ 
    margin-top: 3vh;
    position: relative;
    text-align: center;
    font-size: 3vh;
}

.buttonHome{
    margin-top: 0;
    margin-left: 50%;
    transform: translateX(-50%);
    font-size: 1em;
    color: white;
    padding-top: 0;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 3em;
    border: none;
    background: linear-gradient(
        -45deg,
        rgba(0, 136, 169, 1) 0 calc(50% - 10px),
        #F5F5F5 calc(50% - 10px) calc(50% + 10px),
        rgb(3, 96, 119) calc(50% + 10px) 100%
      );
      background-size: 250% 100%;
      background-position: 100% 50%;
  
      transition: 0.5s background;
    font-weight: bolder;
    border: 0.25em solid black;
    cursor: pointer;
    outline: none;
    box-shadow: 0.25vw 0.5vh 4px 2px rgba(0, 0, 0, 0.2);
    
}

.buttonHome:hover{
    background-position: 0% 50%;
    transition: 0.5s all;
}

#casa{
    margin-top: 1em;
    width: 2em;
    height: 2em;
    fill: white;
}

/*
 * PARA TELEFONOS
*/

@media (orientation : portrait){
    h2{
        font-size: 4em;
    }
    h3{
        font-size: 3em;
    }
    p{
        font-size: 1.5em;
        margin-left: 1em;
        margin-right: 1em;
    }
    .buttonHome{
        border: 0.25em solid black;
        margin-top: 1em;
        width: 13em;
        font-size: 1em;
    }
    #casa{
        width: 3em;
        height: auto;
        fill: white;
    }
}