<app-navbar></app-navbar>

<h1>Ultimos libros añadidos</h1>

<app-carta-libro></app-carta-libro>








<!-- CARDS SUPER CHULAS
<div class="carrousel">
    <div class="card" style="--i:url(../../../assets/images/img1.jpg)">
        <div class="content">
            <h2>Paisaje</h2>
            <a href="#">Ver Detalles</a>
        </div>
    </div>
    
    <div class="card" style="--i:url(../../../assets/images/img2.jpg)">
        <div class="content">
            <h2>Paisaje</h2>
            <a href="#">Ver Detalles</a>
        </div>
    </div>
    
    <div class="card" style="--i:url(../../../assets/images/img3.jpg)">
        <div class="content">
            <h2>Paisaje</h2>
            <a href="#">Ver Detalles</a>
        </div>
    </div>    
</div>
-->